AvatarRankerVistaWindowView {
    flex-grow: 1;
}

Toggle.toggle-only {
    width: 16px;
}

Toolbar {
    border-top-width: 1px;
    border-bottom-width: 0px;
}

#full-pane {
    flex-grow: 1;
}

#left-pane {
    width: 200px;
}

#right-pane {
    flex-grow: 1;
}

#left-upper-pane {
    height: 150px;
}

#left-lower-pane {
    flex-grow: 1;
}

#avatarOverallLevelText {
    -unity-font-style: bold;
}

.header {
    margin-left: 16px;
    margin-top: 4px;
}

.box {
    padding: 2px;
    border-width: 1px;
    border-color: #666666;
    margin: 2px;
    width: auto;
}

.row {
    flex-direction: row;
    flex-shrink: 0;
}

.flex-grow {
    flex-grow: 1;
}

.prop-label {
    width: 200px;
}

.prop-val {
    width: 150px;
}

.prop-level {
    width: 80px;
    border-left-width: 6px;
    padding-left: 1px;
}
